<div style="text-align: center;">
  <img src="/assets/images/perro_imagentop.jpg" alt="perrito">
  <h1> Animal Pet Shop </h1>
  <hr>
</div>

  <div >

    <div class="box02">
      <!--Menu -->
        <div class="dropdown"><li class=" even">
            <button class="mainmenubtn">Main Menu</button><li class=" odd">
            <div class="dropdown-child"><li class=" even">
              <a routerLink="/home">Página Principal</a>
              <a routerLink="/galeria">Galería Mascotas</a>
              <a routerLink="/usuarios">Listado Usuarios</a>
              <a routerLink="/usuarios/registro">Registro de Usuario</a>

            </div>
          </div>

      </div>

    <div class="box03"></div>

  </div>

<div class="box02"></div>


<div class="box04"> <router-outlet></router-outlet></div>




<!-- Comentario en HTML  -->
